<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testng.AnnotationW"/>
      <class name="testng.ActiTest"/>
      <class name="testng.DependsOnDemo"/>
      <class name="testng.GroupDemo"/>
      <class name="testng.EnableDisableDemo"/>
      <class name="testng.DemoA"/>
      <class name="pageObjectModel.TestScripts"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
